*{
    font-family: 'Source Code Pro', monospace;
   color:white;
}

.about{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
margin: 20px;
/* background-color: burlywood; */
opacity: 0.8;
}

body{
    background-image: url("./assets/bg33.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}