*{
    font-family: 'Source Code Pro', monospace;
   color:yellow;
   
   
}

.title{
    display: flex;
    
}
.about{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
margin: 20px;
background-color: black;


}

body{
    background-image: url("./assets/My\ Post\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    opacity: 0.7;

}
.footer{
    background-color: black;
    
}
.bv{
    align-items: center;
}