body{
    background-image: url("./assets/My\ Post\ \(1\).png");
    color: white;
    
}

.checkout{
    display: none;
}

body{
 margin-top: 50px;
}

.cartWell,
.pickup-delivery,
.pickupNow,
.deliveryNow,
#show-pizza{
    display: none;
}