body{
    background-image: url("./assets/My\ Post\ \(1\).png");
    color: chocolate;
    background-color: black;
    font-family: 'Source Code Pro', monospace
    
}

.checkout{
    display: none;
}

body{
 margin-top: 50px;
}

.cartP,
.pd,
.pickup,
.delivery,
#showww{
    display: none;
}